body {
  font-family: 'Courier New';
  background-color: black;
}

#userBio {
  background-color: rgba(255,255,255, 0.9);
  border-radius: 4px;
  border: 1px solid grey;
  width: 800px;

}

#attackSorter, #hpSorter {
  width: 150px;
}

#userImg {
  border-radius: 10px;
  border: 3px solid black;
}

.dropdown-btn {
  width: 200px;
}

.card-body {
  width: 250px;
}

.card {
  width: 250px;
  height: 450px;
  margin-top: 10px;
}

.p {
  font-size: 14px;
}

.goalBut{
  width: 200px;
  margin: 10px;
}

.goldImage {
  width: 15px;
  height: 15px;
}

.weaponImg {
  width: 150px;
  height: 150px;
  margin: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.card-img-top {
  width: 100px;
  height: 100px;
  margin: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.small-img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 100px;
  height: auto;
}
