body {
  font-family: 'Courier New';
  background-color: black;
}

.card {
  width: 800px;
  margin-top: 10px;
  margin: auto;
}

.goalBut {
  width: 100px;
  margin: 10px;
}

.weaponImg {
  width: 150px;
  height: auto;
}
