body {
  font-family: 'Courier New';
}

#userBio {
  background-color: rgba(255,255,255, 0.9);
  border-radius: 4px;
  border: 1px solid grey;
  width: 800px;
}

#imgChanger {
  width: 200px;
}

#userImg {
  border-radius: 10px;
  border: 3px solid black;
  width: 150px;
  height: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.dropdown-btn {
  width: 200px;
}

.card-body {
  width: 1000px;
}

.goalBut{
  width: 200px;
  margin: 10px;
}

.weaponImg {
  width: 150px;
  height: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.spinnyBoi{
  width: auto !important;
  height: auto !important;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
